*/bin
*/obj
*/.ionide
.ionide
*/.paket
*/paket-files
.ionide/*
*/.vscode
*/kaggle.json
Notebooks/.ipynb_checkpoints
.vs
Notebooks/*.dll
Notebooks/*.png
Data/*
TakensTheorem.Test/TestResults
Notebooks/fsx/paket-files
Notebooks/fsx/.paket/load
*/*.fsproj.user
*.trx
